.ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  padding-bottom: 65px;
}

.ul > li {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 600px) {
  .ul > li {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .ul > li {
    width: 25%;
  }
}
