.nav {
  width: 100%;
}

.hamburgerButton {
  position: relative;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.hamburgerButton span,
.hamburgerButton span::before,
.hamburgerButton span::after {
  position: absolute;
  height: 2px;
  background-color: #34afe7;
}

.hamburgerButton span {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburgerButton span::before,
.hamburgerButton span::after {
  content: '';
  width: 100%;
}

.hamburgerButton span::before {
  transform: translateY(-7px);
}

.hamburgerButton span::after {
  transform: translateY(7px);
}

.active {
}

.active span {
  height: 0;
}

.active span::before {
  transform: rotate(45deg);
}

.active span::after {
  transform: rotate(-45deg);
}

.ul {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px 0;
  left: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);

  width: 100%;
  list-style-type: none;
  padding-left: 0;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
}

.show {
  display: none;
  position: absolute;
  left: 0;
  flex-direction: column;

  width: 100%;
  list-style-type: none;
  padding-left: 0;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
}

.ul > li {
  text-decoration: none;
  color: #474747;
  cursor: pointer;
  padding: 10px;
}

.show > li {
  text-decoration: none;
  color: #474747;
  cursor: pointer;
}

@media (min-width: 900px) {
  .ul {
    display: none;
    background-color: none;
  }

  .show {
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .hamburgerButton {
    display: none;
  }
}

@media (min-width: 1200px) {
}
